In [1]:
%load_ext autoreload
%autoreload 2
import sys
# do this to be able to import the custom python scripts
sys.path.insert(1, "../../../python_scripts")
import os

import dm_utils
import dm_file_checker

import dedupe
import json
import pandas as pd
import csv

## Get Appropriate Filepaths

In [2]:
saved_files_path = "../../../saved_files"
task_name = os.path.basename(os.getcwd())
dataset_name = task_name.split("-")[1]

# files to read in
primary_key = dm_file_checker.get_dataset_info(task_name, "primary_key", saved_files_path)
unlabeled_data_filepath = dm_file_checker.get_filepath(task_name, "unlabeled_data", saved_files_path)
unlabeled_data_no_exact_filepath = dm_file_checker.get_filepath(task_name, "unlabeled_data_no_exact", saved_files_path)

numeric_fields = dm_file_checker.get_dataset_info(task_name, "numeric_fields", saved_files_path)
print("Numeric fields are {}".format(numeric_fields))

Numeric fields are []

## Reading in Data

In [3]:
%%time
unlabeled_data = dm_utils.read_unlabeled_data_json(unlabeled_data_filepath, numeric_fields = numeric_fields,
                                                  empty_str_to_none = False)
unlabeled_data = pd.DataFrame.from_dict(unlabeled_data, orient = "index")
unlabeled_data.head()

CPU times: user 120 ms, sys: 7.02 ms, total: 127 ms
Wall time: 128 ms

,date_of_birth,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,soc_sec_id
febrl4b-rec-561-dup-0,1965/10/13,elton,,3,light setreet,pinehill,windermere,3212,vic,1551941
febrl4b-rec-2642-dup-0,1939/02/12,mitchell,maxon,47,edkins street,lochaoair,north ryde,3355,nsw,8859999
febrl4b-rec-608-dup-0,1962/02/16,,white,72,lambrigg street,kelgoola,broadbeach waters,3159,vic,9731855
febrl4b-rec-3239-dup-0,1998/06/24,elk i,menzies,1,lyster place,,northwood,2585,vic,4970481
febrl4b-rec-2886-dup-0,1992/10/16,,garanggar,,may maxwell crescent,springettst arcade,forest hill,2342,vic,1366884

In [4]:
# convert null numerical fields to empty string
for field in numeric_fields:
    unlabeled_data[field] = unlabeled_data[field].fillna("")
    unlabeled_data[field] = unlabeled_data[field].apply(lambda x: str(x))

## Checking for Duplicates in Data

In [5]:
num_duplicates = unlabeled_data.duplicated().sum()
print("There are {} records that have duplicates".format(num_duplicates))

There are 0 records that have duplicates

In [6]:
assert num_duplicates > 0, "Since no exact duplicates found, not continuing further"

AssertionError: Since no exact duplicates found, not continuing further

## Assigning New ID to Same Record
- New ID is `<dataset_name>-ex-<number>` which refer to the records with exactly the same fields.
- ex stands for exact

In [ ]:
new_id_mapping = unlabeled_data.groupby(unlabeled_data.columns.tolist()).ngroup() + 1
new_id_mapping = new_id_mapping.apply(lambda x: "{}-ex-{}".format(dataset_name, x))
new_id_mapping = pd.DataFrame(new_id_mapping, columns = [primary_key])
new_id_mapping.head()

In [ ]:
n_new_id = new_id_mapping[primary_key].unique().shape[0]
print("Originally, there are {:,} IDs".format(new_id_mapping.shape[0]))
print("There are {:,} remaining IDs after disregarding exact duplicates".format(n_new_id))

## Setting New ID as Primary Key

In [ ]:
unlabeled_data = pd.merge(left = new_id_mapping, right = unlabeled_data, right_index = True, left_index = True,
                            validate = "one_to_one")
unlabeled_data.index.name = "{}_old".format(primary_key)
unlabeled_data = unlabeled_data.reset_index()
unlabeled_data.head()

In [ ]:
# write out mapping from old primary key to new primary key
primary_key_mapping = unlabeled_data.loc[:,[primary_key, "{}_old".format(primary_key)]]
primary_key_mapping_filepath = unlabeled_data_filepath.replace("unlabeled_data.json", "primary_key_mapping_exact_duplicates.csv")
primary_key_mapping.to_csv(primary_key_mapping_filepath, index = False, quoting = csv.QUOTE_ALL)
del primary_key_mapping

unlabeled_data = unlabeled_data.drop(columns = "{}_old".format(primary_key))

same_key_bool = unlabeled_data[primary_key].duplicated(keep = "first")
print("Removing {} rows that have the same new primary key (i.e. exact duplicates)".format(same_key_bool.sum()))
unlabeled_data = unlabeled_data.loc[~same_key_bool,:].set_index(primary_key)

unlabeled_data.head()

## Write Out New Dataset to a json file

In [ ]:
# making sure all values are strings before writing to json
assert unlabeled_data.applymap(type).eq(str).all().all(), "not all values are strings!"

assert unlabeled_data.isnull().sum().sum() == 0, "still found a native Python null in the dataset!"

In [ ]:
unlabeled_data = unlabeled_data.to_dict(orient = "index")

with open(unlabeled_data_no_exact_filepath, "w") as json_file:
    json.dump(unlabeled_data, json_file)